@model TeacherCreateVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_Layout.cshtml";
}

@using BackEndProject.ViewModels;


<div class="row">

    <div class="card" style="width:80%;">
        <div class="card-body">

            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Create Category Form
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input asp-for="Photo" class="form-control">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control">
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control">
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Faculty"></label>
                    <input asp-for="Faculty" class="form-control">
                    <span class="text-danger" asp-validation-for="Faculty"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Degree"></label>
                    <input asp-for="Degree" class="form-control">
                    <span class="text-danger" asp-validation-for="Degree"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Exprience"></label>
                    <input asp-for="Exprience" class="form-control">
                    <span class="text-danger" asp-validation-for="Exprience"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Position"></label>
                    <input asp-for="Position" class="form-control">
                    <span class="text-danger" asp-validation-for="Position"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control">
                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Skype"></label>
                    <input asp-for="Skype" class="form-control">
                    <span class="text-danger" asp-validation-for="Skype"></span>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>



