@model Notice
@{
    ViewData["Title"] = "Detail";
}


<div class="card" style="width: 18rem;">


    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Description: @Model.Description</li>
    </ul>
</div>





