@using BackEndProject.ViewModels;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_Layout.cshtml";
}
@model CourseCreateVM

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default form</h4>
                <p class="card-description">
                    Create Category Form
                </p>
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input asp-for="Photo" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Title">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="About"></label>
                        <input asp-for="About" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="About"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ApplyDescrip"></label>
                        <input asp-for="ApplyDescrip" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="ApplyDescrip"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Certification"></label>
                        <input asp-for="Certification" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Certification"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select" aria-label="Default select example">
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>

</div>




