@model List<Blog>
<div class="single-blog-widget mb-47">
    <h3>latest post</h3>
    @foreach (var blog in Model)
    {
        <div class="single-post mb-30">
            <div class="single-post-img">
                <a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">
                    <img src="~/img/blog/@blog.ImageUrl" width="95px" height="84px" alt="post">
                    <div class="blog-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="single-post-content">
                <h4><a asp-controller="blog" asp-action="detail" asp-route-id="@blog.Id">@blog.Name</a></h4>
                <p>@blog.AuthorName  /  June 20, 2017</p>
            </div>
        </div>
    }
</div>