 @model List<Categories
 >  
 <div class="single-blog-widget mb-47">
                        <h3>categories</h3>
                        <ul>
        @foreach (var category in Model)
        {
                                    <li><a href="#">@category.Name (10)</a></li>
        }

                        </ul>
                    </div>