@model Categories
@{
    ViewData["Title"] = "Detail";
}


<div class="card" style="width: 18rem;">


    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
    </div>
  
    <table class="table">
      <thead>
        <tr>

          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
            @foreach (var course in Model.courses)
    {
        <tr>
          <td>@course.Name</td>
        </tr>


    }
      </tbody>
    </table>
</div>





